{% extends 'main/base.html' %}
{% load static %}
{% block header %}
<body>
  <header>
    <div class="header_wrap">
      {% if top_page_flg == 1 %}
      <div class="logo_img">
        <h1><a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="{{ meta.site_name }}"></a></h1>
      </div>
      {% else %}
      <div class="logo_img">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="{{ meta.site_name }}"></a>
      </div>
      {% endif %}
      <form class="search_box" action="{% url 'search_from_input' %}" method="get">
        {% csrf_token %}
        <input type="text" name="search_text">
        <button type="submit" name="button">search</button>
      </form>
    </div>
  </header>
  <ul class="breadcrumb">
    {% for item in breadcrumb %}
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ item.url }}" itemprop="url">
        <span itemprop="title">{{ item.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block main_contents %}{% endblock %}
{% block footer %}{% endblock %}
